<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta property="og:title" content="항해99 GRAM" />
    <meta property="og:description" content="항해99분들 서로를 소개해보아요!" />
    <meta property="og:image" content="https://i.esdrop.com/d/f/whRz5ypjfJ/61BdphrWO3.png" />
    <!--AJAX 설정-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- font 불러오기 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <!-- CSS 연결 -->
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}"/>
    <title>로그인 - 항해99 GRAM</title>
</head>

<body>
<div class="login_wrapper">
    <h1>항해99 GRAM</h1>
    <form class="login_form" action="#">
        <input type="text" id="LOGIN_ID" name="id" onkeydown="onlyAlphabet(this)" placeholder="ID">
        <div id="VERI_ID" class="msg"></div>
        <input type="password" id="LOGIN_PW" name="id" onkeydown="onlyAlphabet(this)" placeholder="PASSWORD">
        <div id="VERI_PW" class="msg"></div>
        <button id="LOGIN_BTN" type="button" disabled>로그인</button>
    </form>
    <div class="signup">
        <a href="{{ url_for('login.register') }}">회원가입</a>
    </div>
</div>

<!-- sha256을 사용하기 위해 콜(암호화) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='login.js') }}"></script>
</body>

</html>