<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- AJAX 설정 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Doc Bootstrap 불러오기 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- icon Bootstrap 불러오기 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!-- font 불러오기 -->

  <!-- CSS 연결 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='mypage.css') }}" />
  <title>Team_Project::Mypage</title>
</head>

<body>
  <article class="header">
    <div class="wrap_nav">
      <h1><a href="#">😎 Proj Logo</a></h1>
      <nav>
        <ul class="gnb">
          <li><a href="#"><i class="bi bi-house-door"></i></a></li>
          <li><a href="#"><i class="bi bi-plus-square"></i></a></li>
          <li><a href="#"><i class="bi bi-x-circle"></i></a></li>
        </ul>
      </nav>
    </div>
  </article>
  <article class="logs">

  </article>
  <article class="user__log">
    <div class="wrap_user__log">
      <div class="wrap_user">
        <div class="profile">
          <img class=img_profile src="{{ g.userimg }}" alt="no img">
        </div>
      </div>
      <div class="wrap_logs">
        <h1>{{ g.userid }}</h1>
        <div class="list_logs">
          <h3>Recent logs</h3>
          <ul class>
            <li><a href="#">1. 게시물 [~~~]에 새로운 댓글이 달렸습니다.</a></li>
            <li><a href="#">2. 게시물 [~~~]에 새로운 댓글이 달렸습니다.</a></li>
            <li><a href="#">3. 게시물 [~~~]에 새로운 댓글이 달렸습니다.</a></li>
            <li><a href="#">4. 게시물 [~~~]에 새로운 댓글이 달렸습니다.</a></li>
            <li><a href="#">5. 게시물 [~~~]에 새로운 댓글이 달렸습니다.</a></li>
            <li><a href="#">6. 게시물 [~~~]에 새로운 댓글이 달렸습니다.</a></li>
            <li><a href="#">7. 게시물 [~~~]에 새로운 댓글이 달렸습니다.</a></li>
          </ul>
        </div>
      </div>
    </div>
  </article>
  <article class="btns">
    <div class="wrap_btn">
      <button class="center_btn" id="MYPOST_BTN" type="button" name="button"><i class="bi bi-grid-3x3"></i> my_posts</button>
      <button class="center_btn" id="BOOKMARK_BTN" type="button" name="button"><i class="bi bi-bookmark"></i> bookmarks</button>
    </div>
  </article>
  <!-- JS 연결 -->
  <script type="text/javascript" src="{{ url_for('static', filename='mypage.js') }}"></script>
</body>

</html>
