<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HH5_OOTD</title>
    <!--AJAX 설정-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- font 불러오기 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

    <!-- CSS 연결 -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup.css')}}"/>

    <script src="jquery-3.4.1.js"></script>
</head>
<body>
<div class="signup_wrapper">
    <h1>회원가입</h1>
    <form action="#">
        <input type="text" placeholder="ID">
        <input type="password" placeholder="PASSWORD">
        <input type="password" placeholder="RE-ENTER PASSWORD">
    </form>

    <form method="post" enctype="multipart/form-data">
        <div class="button">
            <label for="chooseFile">
                프로필 사진 설정하기
            </label>
        </div>
        <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
    </form>

    <button class="signup">가입하기</button>

    <div class="login">
        <a href="./login.html">
            로그인
        </a>
    </div>
</div>
  <!-- sha256을 사용하기 위해 콜(암호화) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='register.js') }}"></script>

</body>
</html>