body {
  background-color: #FAFAFA;
  margin: 0px;
  width: 100vw;
  color: #262626;
  overflow-x:hidden;
}

a {
  text-decoration: none;
  color: #262626;
}

li {
  list-style: none;
}

.header {
  background-color: white;
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #DBDBDB;
  position: fixed;
}

.wrap_nav {
  /* background-color: yellow; */
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap_nav>h1 {
  float: left;
  margin: 0vh 2vh;
  font-size: 3vh;
}

.wrap_nav>nav {
  float: right;
}

.gnb>li {
  float: left;
  margin: 0vh 2vh;
  font-size: 3vh;
}

.user__log {
  /* background-color: Green; */
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7vh;
}

.wrap_user__log {
  /* background-color: blue; */
  width: 70%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrap_user {
  float: left;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile {
  height: 12vw;
  width: 12vw;
  border-radius: 70%;
  overflow: hidden;
  border-bottom: 1px solid #DBDBDB;
  margin: 0 1vh;
}

.profile>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrap_logs {
  /* background-color: yellow; */
  float: right;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrap_logs>h1 {
  font-size: 5vh;
  font-weight: lighter;
  color: #262626;
  white-space: nowrap;
}

.list_logs {
  /* background-color: green; */
  width: 100%;
  height: 70%;
}

.list_logs>h3 {
  font-size: 3vh;
  font-weight: lighter;
  color: #262626;
  white-space: nowrap;
  margin-bottom: 1vh
  
}

.list_logs>ul {
  /* background-color: green; */
  width: 100%;
  height: 90%;
  font-size: 2vh;
  white-space: nowrap;
  overflow: scroll;
  white-space: nowrap;
  word-break: break-all
}
.list_logs>ul::-webkit-scrollbar {
  width: 1vh;
  background-color: #fafafa;
}
.list_logs>ul::-webkit-scrollbar-corner {
  background-color: #fafafa;
}
.list_logs>ul::-webkit-scrollbar-thumb:horizontal {
  background-color: #fafafa;
  border-radius: 0.5vh;
  background-clip: padding-box;
  border: 0.1vh solid transparent;
}
.list_logs>ul::-webkit-scrollbar-track:horizontal {
  background-color: #fafafa;
  border-radius: 0.5vh;
}
.list_logs>ul::-webkit-scrollbar-thumb:vertical {
  background-color: #DBDBDB;
  border-radius: 1vh;
  background-clip: padding-box;
  border: 0.2vh solid transparent;
}
.list_logs>ul::-webkit-scrollbar-track:vertical {
  background-color: #fafafa;
  border-radius: 1vh;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
  margin-bottom: 2vh;
}

.wrap_btn {
  font-size: 2vh;
  white-space: nowrap;
  width: 70%;
  border-top: 1px solid #DBDBDB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_btn {
  background-color: #fafafa;
  border-style: none;
  color: #DBDBDB;
}
.posts {
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.wrap_post{
  /* background-color: yellow; */
  width:70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.post::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
.post>a{
  /* background-color: yellow; */
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post>a:hover{

}
.post>a>img {
  width: 23vw;
  height: 23vw;
  object-fit: cover;
}
